---
---

@import "{{ site.theme }}";

.section1 {
  background-color:  #fafafa;
  @include large {
    padding: 2rem 3rem;
   
  }
}

.section2 {
  background-color:  #ffffff;
  @include large {
    padding: 2rem 3rem;
   
  }
}
